body{
    background-color: black;
    
}
p{
    color: white;
}
header{
    text-align: center;
}
h3{
    font-style: italic ;
}
section{
    font-family: Helvetica;
    font-size: 12pt;
    text-align: justify;
}
footer{
    text-align: center;
}
h6{
    color: white;
}